#droneActionsDiv {
  padding-top: 10px;
  color: white;
  padding-right: 0px;
}

#actionTitle {
  font-size: 25px;
  text-align: center;
}

#alert-modal-title{
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
// #{
//  background: red;
// }

.action-sub-class {
  margin: 10px 10px 10px 10px;
  color: white;
}

.action-sub-class>span {
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.settings-modal {
  background: #1c2340
}

.custom-card {
  background: #0f1b6fd9;
  margin: 10px;
}

.modal-backdrop{
  background-color: red;
}
.settingsDiv {
  padding-bottom: 20px;
}

.settingsDiv>.btn {
  text-align: center;
  background-color: #aeb625 !important;

}

#updateAlt,
#updateSpeed {
  padding-bottom: 10px;
  padding-top: 10px;
}

#updateAlt>span,
#updateSpeed>span {
  padding-right: 20px;
}

.img-responsive{
  height: 80%;
  width: 80%;
}

#alert-scene{
  display: inline-flex;
 
}


#alert-scene > img {
  margin-left: auto;
  margin-right: auto;
}

.finalOptions{
  text-align:center;
  margin-top:15px;
}
.alert-options{
  display: inline-block;
}
.alert-options > button{
  margin-bottom: 20px;
}
 .modal-content{
  background-color: #1c2340
}

.modal-footer > button{
  color:white;
}

#settings-modal-title{
  color: white;
}

.modal-label{
  color : white;
  font-size:20px; 
}

.alertOptions{
  margin-left: 25px;
  width: 20%
}

#alertsModal{
width:80%;
background-color: black;
}