<div class="row drone-info-css">
  <div class="main-title-css col-md-12 header">
    <span class=""></span><span class="col-md-12"> Hawk Eye </span>
  </div>
</div>
<div class="row drone-main-body">
  <div class="col-md-9">
    <div *ngIf="droneObj" class="select-drone-cls col-md-12">
      <div id={{droneObj.name}} class="drone-Name-cls col-md-2">
        <!-- <span id="name-label">Drone Name : </span> -->
        <span id="drone-name">{{droneObj.name}}</span>
      </div>
      <!-- <div class="status-primary">
      <div class="flight-status">
        <span class={{droneObj.flightStatus}}></span><span>{{droneObj.flightStatus}}</span>
        <span>{{droneObj.upTime}}</span>
      </div>
    </div> -->

      <div class="drone-info-section col-md-10">

        <div class="info-block col-md-3">

          <i class="material-icons size-large ">battery_std</i>

          <div class="data ">
            <div class=" drone-info-primary row ">{{droneObj.locationName}} </div>
            <div class=" drone-info-sub row">({{droneObj.position.latitude}},{{droneObj.position.longitude}})</div>
          </div>
        </div>
        <div class="info-block col-md-3 ">

          <i class="material-icons ">battery_std</i>

          <div class="data ">
            <div class=" drone-info-primary row">{{droneObj.battery}} % </div>
            <div class=" drone-info-sub  row">{{droneObj.timeLeft}} hrs appox.</div>
          </div>
        </div>




        <div class=" info-block col-md-3">

          <i class="material-icons ">battery_std</i>

          <div class="data ">
            <div class=" drone-info-primary row">{{droneObj.signalStrength}} </div>
            <div class=" drone-info-sub row ">Signal</div>
          </div>
        </div>
        <div class=" info-block col-md-3">

          <i class="material-icons ">battery_std</i>

          <div class="data">
            <div class=" drone-info-primary ">{{droneObj.speed}} km/h</div>
            <div class=" drone-info-sub">Alt : {{droneObj.altitude}} mts</div>
          </div>
        </div>



        <!--<span class=" drone-info col-md-6">{{drone.id}}</span>-->
      </div>
    </div>
    <div class="col-md-12 drone-vision-div">
      <img src="/./../../../assets/kashmir-road-map.jpg" width="100%" />
      <!-- <video width=300 height=400 src="http://localhost:5001/video_feed" autoplay="autoplay"></video> -->
    </div>

    <div class="col-md-12">
      <app-drone-actions [drone]="droneObj" (updateForm)="this.drone=$event"></app-drone-actions>
    </div>
  </div>
  <!--
  
<app-drone-detail [drone]="droneObj"></app-drone-detail>

-->

  <div class=" activity col-md-3"> 
     <app-activity></app-activity>
    <div id="map-canvas-div" class="row">
      <app-drone-nav-map [drone]="droneObj"></app-drone-nav-map>
    </div>
  </div>

</div>
