<div class="col-md-12" id="summaryId">Summary</div>
    <div class="col-md-12">
    <div  class="col-md-4 overallSummary">  
    <ul class="list-group">
        <li class="list-group-item">Drone Name : Drone 1</li>
        <li class="list-group-item list-group-item-light">Flight Time : <span class="badge badge-primary badge-pill">128hrs</span> </li>
        <li class="list-group-item list-group-item-light">Mission Count : <span class="badge badge-primary badge-pill">83</span></li>
        <li class="list-group-item list-group-item-light">Threats detected : <span class="badge badge-primary badge-pill">25</span></li>
        <li class="list-group-item list-group-item-light">Detection accuracy : <span class="badge badge-primary badge-pill">78%</span></li>
        <li class="list-group-item list-group-item-light">False Positives : <span class="badge badge-primary badge-pill">3</span></li>
      </ul>
    </div>
    <div class="col-md-3 summaryImg">
      <img class="img-responsive" src="../../../assets/alertScene.jpg" />
    </div>
     <div class="col-md-5 overallSummary">
        <ul class="list-group ">
            <li class="list-group-item">Current Mission : Kashmir road</li>
            <li class="list-group-item list-group-item-light">Mission Time : <span class="badge badge-primary badge-pill">120 mins </span> </li>
            <li class="list-group-item list-group-item-light">Drone Flight Time : <span class="badge badge-primary badge-pill">60 mins</span></li>
            <li class="list-group-item list-group-item-light">Threats detected : <span class="badge badge-primary badge-pill">Yes</span></li>
            <li class="list-group-item list-group-item-light">Threat type: <span class="badge badge-primary badge-pill">car</span></li>
            <li class="list-group-item list-group-item-light">Action taken : <span class="badge badge-primary badge-pill">shot down</span></li>
      
          </ul>
        </div>
    </div> 
 
