<div class="col-md-12" id="summaryTitle">Summary</div>
	<app-analytics-graphs></app-analytics-graphs>
    <div class="col-md-12 summaryDiv">
   
    <ul class="list-group overallSummary">
        <li class="list-group-item">Drone Name : Drone 1</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Flight Time : <span class="badge badge-primary badge-pill">128hrs</span> </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Mission Count : <span class="badge badge-primary badge-pill">83</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Threats detected : <span class="badge badge-primary badge-pill">25</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Detection accuracy : <span class="badge badge-primary badge-pill">78%</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">False Positives : <span class="badge badge-primary badge-pill">3</span></li>
      </ul>
      <div class="summaryImg"><img id="threatImg" src="./../../../assets/alertScene.jpg" /></div>
      <ul class="list-group specificSummary">
            <li class="list-group-item">Current Mission : Kashmir road</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Mission Time : <span class="badge badge-primary badge-pill">120 mins </span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Drone Flight Time : <span class="badge badge-primary badge-pill">60 mins</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Threats detected : <span class="badge badge-primary badge-pill">Yes</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Threat type: <span class="badge badge-primary badge-pill">car</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Action taken : <span class="badge badge-primary badge-pill">shot down</span></li>
      
          </ul>
      
    </div> 
 
