<div class="drone-config">

  <h4>Available Drones</h4>

  <div class="row p-4">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card text-black">
        <span class="px-2">
          <span class="online-dot"></span>
          <strong> Online</strong>
        </span>
        <img class="card-img-top p-2" src="./../../assets/drone.png" alt="Card image cap">
        <div class="card-body ">
          <div class="status">
            <span>
              <h4>Alpha Drone</h4>
            </span>
          </div>
          <div class="stats">            
            <div class="item" data-toggle="tooltip" data-placement="top" title="battery">
              <div class="icon">
                <i class="fas fa-battery-three-quarters fa-2x battery-color"></i>
              </div>
              <div class="text text-center">
                <span>80%</span>
              </div>
            </div>
            <div class="item" data-toggle="tooltip" data-placement="top" title="Signal">
                <div class="icon">
                  <i class="fas fa-wifi fa-2x signal-color"></i>
                </div>
                <div class="text text-center">
                  <span>Good</span>
                </div>
              </div>
              <div class="item" data-toggle="tooltip" data-placement="top" title="Location">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt fa-2x location-color"></i>
                  </div>
                  <div class="text text-center">
                    <span>Hilltop</span>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card text-black">
          <span class="px-2">
            <span class="standby-dot"></span>
            <strong> Stand By</strong>
          </span>
          <img class="card-img-top p-2" src="./../../assets/drone.png" alt="Card image cap">
          <div class="card-body ">
            <div class="status">
              <span>
                <h4>Bravo Drone</h4>
              </span>
            </div>
            <div class="stats">            
              <div class="item" data-toggle="tooltip" data-placement="top" title="battery">
                <div class="icon">
                  <i class="fas fa-battery-three-quarters fa-2x battery-color"></i>
                </div>
                <div class="text text-center">
                  <span>80%</span>
                </div>
              </div>
              <div class="item" data-toggle="tooltip" data-placement="top" title="Signal">
                  <div class="icon">
                    <i class="fas fa-wifi fa-2x signal-color"></i>
                  </div>
                  <div class="text text-center">
                    <span>Good</span>
                  </div>
                </div>
                <div class="item" data-toggle="tooltip" data-placement="top" title="Location">
                    <div class="icon">
                      <i class="fas fa-map-marker-alt fa-2x location-color"></i>
                    </div>
                    <div class="text text-center">
                      <span>Hilltop</span>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card text-black dimmed">
            <span class="px-2">
              <span class="offline-dot"></span>
              <strong>Offline</strong>
            </span>
            <img class="card-img-top p-2" src="./../../assets/drone.png" alt="Card image cap">
            <div class="card-body ">
              <div class="status">
                <span>
                  <h4>Charlie Drone</h4>
                </span>
              </div>
              <div class="stats">            
                <div class="item" data-toggle="tooltip" data-placement="top" title="battery">
                  <div class="icon">
                    <i class="fas fa-battery-three-quarters fa-2x battery-color"></i>
                  </div>
                  <div class="text text-center">
                    <span>-</span>
                  </div>
                </div>
                <div class="item" data-toggle="tooltip" data-placement="top" title="Signal">
                    <div class="icon">
                      <i class="fas fa-wifi fa-2x signal-color"></i>
                    </div>
                    <div class="text text-center">
                      <span>-</span>
                    </div>
                  </div>
                  <div class="item" data-toggle="tooltip" data-placement="top" title="Location">
                      <div class="icon">
                        <i class="fas fa-map-marker-alt fa-2x location-color"></i>
                      </div>
                      <div class="text text-center">
                        <span>-</span>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center p-4">
        <a routerLink="/dashboard">
        <button class="btn btn-takeoff" type="submit" >Take Off</button>
        </a>
    </div>
  </div>
</div>