:root {
    --color-white: #fcfcfc;
    --text-black:#000;
    --bg:#1c2340;
    --battery-color:green;
    --signal-color:#4dabf7;
    --location-color:#8c0000;
    --online:green;
    --standby:#ef8f00;
    --offline:#8c0000;
  }