.drone-name{
    color:#18b4ed;
    padding-left: 10px;
}

.drone-status{
 margin-top: 10px;   
}

.green-icon{
background: #00af0c;
width:12px;
height:12px;
border-radius: 50%;
display:inline-block;
margin-right: 10px;    
}

.red-icon{
background: red;
width:12px;
height:12px;
border-radius: 50%;
display:inline-block;
margin-right: 10px;    
}

.drone-info {
    color:#18b4ed;
    font-size: 20px;
}

.drone-info-sub{
  font-size:13px;
    text-align: center;
}



.info-block{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
   display: inline-block;
  background-color: #313b5f;
    margin: 10px 10px 10px 10px;
}

.drone-info-section{
margin-top: 30px;
}